<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Horse Race" %></title>
  <%= csrf_meta_tags %>
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous" defer></script>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="/css/base.css">
  <%= yield :head %>
</head>
<body>
  <%= yield %>
</body>
</html>
